
<div id="quienes">
  <div class="fila ">
    <div class="row">
        <div class="col-md-12" >
            <div class="tit">
            <h2>CONTACTO</h2>
            <hr STYLE="border-color:#FF4500;border-width:2px;margin-top:0;">
                <p><i>Envienos su consulta</i></p>
            </div>
        </div>
    </div>   
  </div> 
</div>


<div class="container" > 
      <div class="row">
        <div class="col-lg-12 text-center ">
          <div class="col-sm-4 "><img class="icono" src="/assets/tel.png" width="60" height="60" alt="-"><br>
            <p class="texto_c"> (03465)-15667732<br>(03400)-15415624</p></div>          
          <div class="col-sm-4"><img class="icono" src="/assets/mail.png" width="60" height="60" alt="-"> <br>
            <p class="texto_c">fcestudiocontable@outlook.com.ar</a></p> </div>
          <div class="col-sm-4"><img class="icono" src="/assets/facebook3.png" width="60" height="60" alt="-"> <br>
            <p class="texto_c">/fcestudiocontable</a></p> </div>
        </div>

</div>

<div class="formulario">
  <div class="row">
    <div id="form-cont" class="col-md-6">
        <p class="tit-form">Formulario de contacto</p>
            <% if @message.errors.any? %>
                <ul>
                    <% @message.errors.each do |atributo, mensaje| %>
                    <li> <%= mensaje %> </li>
                    <% end %>
                </ul>
            <% end %>

  <%= form_for @message, :url => contact_path do |form| %>

    <fieldset class="fields">

      <div class="form-group">
          <p id="etiqueta"><%= form.label :Nombre %></p>
          <%= form.text_field :name, :class=>"form-control required" %>
      </div>
    
      <div class="form-group">
          <p id="etiqueta"><%= form.label :Email %></p>
          <%= form.text_field :email, :class=>"form-control required" %>
      </div>

      <div class="form-group">
          <p id="etiqueta"><%= form.label :Asunto %></p>
          <%= form.text_field :subject,:class=>"form-control required" %>
      </div>
    
      <div class="form-group">
          <p id="etiqueta"><%= form.label :Consulta %></p>
          <%= form.text_area :body, :class=>"form-control required" %>
      </div>

    </fieldset>
  
    <fieldset class="actions text-right">
        <%= form.submit "Enviar", :class=>"btn btn-warning" %>
    </fieldset>
   
  <% end %>
</div>

  <div class="col-md-6">
    <p class="texto-cont">
      Realice una consulta sobre nuestros <strong>servicios profesionales</strong> .<br>
      <br>
      Contáctenos para obtener información sobre nuestros servicios.<br> Puede dejarnos sus datos y consulta por email y en menos de 24 horas nos pondremos en contacto con usted.
        <img class= "img-cont" src="/assets/contacto.jpg" width="310" height="470"  alt="" class="img-responsive"/>
    </p>
  </div>
  </div>
</div>

  